<%= form_with model: @employee do |form| %>
  <div class="">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
    <% @employee.errors.full_messages_for(:first_name).each do |message| %>
      <div class=""><%= message %></div>
    <% end %>
  </div>
  <div class="">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
    <% @employee.errors.full_messages_for(:last_name).each do |message| %>
      <div class=""><%= message %></div>
    <% end %>
  </div>
  <div class="">
    <%= form.label :job_id %>
    <%= form.collection_select :job_id, Job.all, :id, :name %>
    <% @employee.errors.full_messages_for(:last_name).each do |message| %>
      <div class=""><%= message %></div>
    <% end %>
  </div>
  <div class="">
    <%= form.submit %>
  </div>
<% end %>