<%= form_with model: @employee do |form| %>
  <div class="row mb-2">
    <div class="col-md-4">
      <%= form.label :code, class: 'form-label' %>
      <%= form.text_field :code, value: "#{ Employee.maximum('code') + 1 }", class: 'form-control' %>
      <% @employee.errors.full_messages_for(:code).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-4">
      <%= form.label :first_name, class: 'form-label' %>
      <%= form.text_field :first_name, class: 'form-control' %>
      <% @employee.errors.full_messages_for(:first_name).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-4">
      <%= form.label :last_name, class: 'form-label' %>
      <%= form.text_field :last_name, class: 'form-control' %>
      <% @employee.errors.full_messages_for(:last_name).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-4">
      <%= form.label :job_id, class: 'form-label' %>
      <%= form.collection_select :job_id, Job.order(:name), :id, :name, {}, {class: 'form-select'} %>
      <% @employee.errors.full_messages_for(:job_id).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-4">
      <%= form.label :org_id, class: 'form-label' %>
      <%= form.collection_select :org_id, Org.order(:name), :id, :name, {}, { class: 'form-select'} %>
      <% @employee.errors.full_messages_for(:org_id).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>
  </div>


  <div class="row mb-2">
    <div class="col-md-4">
      <%= form.label :manager_id, class: 'form-label' %>
      <%= form.collection_select :manager_id, Employee.order(:first_name), :id, :full_name, {}, { class: 'form-select' } %>
      <% @employee.errors.full_messages_for(:manager_id).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-4">
      <%= form.label :employee_status_id, class: 'form-label' %>
      <%= form.collection_select :employee_status_id, EmployeeStatus.order(:name), :id, :name, {}, { class: 'form-select' } %>
      <% @employee.errors.full_messages_for(:employee_status_id).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="col-auto">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>