<%= form_with model: @employee do |form| %>
  <div class="">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
    <% @employee.errors.full_messages_for(:first_name).each do |message| %>
      <div class=""><%= message %></div>
    <% end %>
  </div>
  <div class="">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
    <% @employee.errors.full_messages_for(:last_name).each do |message| %>
      <div class=""><%= message %></div>
    <% end %>
  </div>
  <div class="">
    <%= form.label :job_id %>
    <%= form.collection_select :job_id, Job.order(:name), :id, :name %>
    <% @employee.errors.full_messages_for(:job_id).each do |message| %>
      <div class=""><%= message %></div>
    <% end %>
  </div>
  <div class="">
    <%= form.label :org_id %>
    <%= form.collection_select :org_id, Org.order(:name), :id, :name %>
    <% @employee.errors.full_messages_for(:org_id).each do |message| %>
      <div class=""><%= message %></div>
    <% end %>
  </div>
  <div class="">
    <%= form.label :manager_id %>
    <%= form.collection_select :manager_id, Employee.order(:first_name), :id, :full_name %>
    <% @employee.errors.full_messages_for(:manager_id).each do |message| %>
      <div class=""><%= message %></div>
    <% end %>
  </div>
  <div class="">
    <%= form.submit %>
  </div>
<% end %>