<%= turbo_frame_tag "employes", class: "table" do %>
  <table class="table table-hover">
    <thead class="table-secondary">
      <tr>
        <th scope="col"><%= sort_link column: "code", label: "EmpNumber" %></th>
        <th scope="col"><%= sort_link column: "first_name", label: "Name" %></th>
        <th scope="col"><%= sort_link column: "job", label: "Title" %></th>
        <th scope="col"><%= sort_link column: "status", label: "Status" %></th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
      <tr>
        <th scope="row"><%= employee.code %></th>
        <td><%= link_to employee.full_name, edit_employee_path(employee) %></td>
        <td><%= employee.job.name %></td>
        <td><%= employee.employee_status.name %></td>
        <td>
          <%= link_to 'Delete', employee_path(employee),
                  method: :delete,
                  data: { confrim: 'Are you sure?' } %> 
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>