<%= form_with model: org do |form| %>
  <div class="row mb-2">
    <div class="col-md-4">
      <%= form.label :code, class: 'form-label' %>
      <%= form.text_field :code, class: 'form-control' %>
      <% org.errors.full_messages_for(:code).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="row mb-2">
      <div class="col-md-4">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
        <% org.errors.full_messages_for(:name).each do |message| %>
          <div class=""><%= message %></div>
        <% end %>
      </div>
    </div>

    <div class="col-auto">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
    
  </div>
<% end %>