<%= form_with model: job do |form| %>
  <div class="row g-2">
    <div class="col-md-4">
      <%= form.label :code, class: 'form-label' %>
      <%= form.text_field :code, class: 'form-control' %>
      <% job.errors.full_messages_for(:code).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>
    <div class="w-100"></div>
    <div class="col-md-4">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
      <% job.errors.full_messages_for(:name).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>

    <div class="col-md-12">
      <%= form.submit class: 'btn btn-primary' %>
    </div>

    

    
  </div>
    

<% end %>