<%= form_with model: employee_status do |form| %>
  <div class="row g-2">
    <div class="col-md-4">
      <%= form.label :code, class: 'form-label' %>
      <%= form.text_field :code, class: 'form-control' %>
      <% employee_status.errors.full_messages_for(:code).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>
  </div>

  <div class="row g-2 mb-2">
    <div class="col-md-4">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
      <% employee_status.errors.full_messages_for(:name).each do |message| %>
        <div class=""><%= message %></div>
      <% end %>
    </div>
  </div>
  <div class="col-auto">
    <%= form.submit 'Create Status', class: 'btn btn-primary' %>
  </div>
<% end %>